<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Command-and-Conquer: WarZone</title>
    <organization>UPC</organization>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1680" height="1050" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <music>
      <folder>audio/music</folder>
      <track>Best_Friend_8_bits.ogg</track>
      <track>The_Music_Box_8_bits.ogg</track>
    </music>
    <fx>
      <folder>audio/fx</folder>
      <sound>1 min.wav</sound>
      <sound>3 min.wav</sound>
      <sound>5 min.wav</sound>
      <sound>10 min.wav</sound>
      <sound>Allied_Barracks_B.wav</sound>
      <sound>Allied_Barracks_D.wav</sound>
      <sound>Allied_CC_D.wav</sound>
      <sound>Allied_Laser_B.wav</sound>
      <sound>Allied_Laser_D.wav</sound>
      <sound>Allied_Mine_B.wav</sound>
      <sound>Allied_Mine_D.wav</sound>
      <sound>Allied_Sentry_B.wav</sound>
      <sound>Allied_Sentry_D.wav</sound>
      <sound>Allied_Tesla_D.wav</sound>
      <sound>barracks_build_fx.wav</sound>
      <sound>building_explosion_fx.wav</sound>
      <sound>building_repair_fx.wav</sound>
      <sound>button_slide_fx.wav</sound>
      <sound>change_focus_fx.wav</sound>
      <sound>Dog_Att.wav</sound>
      <sound>Dog_Die.wav</sound>
      <sound>Dog_Spawn.wav</sound>
      <sound>Eng_Att.wav</sound>
      <sound>Eng_Die.wav</sound>
      <sound>Eng_Spawn.wav</sound>
      <sound>exit_fx.wav</sound>
      <sound>final_explosion_fx.wav</sound>
      <sound>in_game_click_fx.wav</sound>
      <sound>invincible_fx.wav</sound>
      <sound>launch_missiles_fx.wav</sound>
      <sound>mine_build_fx.wav</sound>
      <sound>play_fx.wav</sound>     
      <sound>sentrygun_attack_fx.wav</sound>
      <sound>sentrygun_build_fx.wav</sound>
      <sound>slider_down_fx.wav</sound>
      <sound>slider_up_fx.wav</sound>
      <sound>Soldier_Allied_Spawn.wav</sound>
      <sound>Soldier_Att.wav</sound>
      <sound>Soldier_Die.wav</sound>
      <sound>Soldier_Soviet_Spawn.wav</sound>
      <sound>Soviet_Barracks_B.wav</sound>
      <sound>Soviet_Barracks_D.wav</sound>
      <sound>Soviet_CC_D.wav</sound>
      <sound>Soviet_Laser_B.wav</sound>
      <sound>Soviet_Laser_D.wav</sound>
      <sound>Soviet_Mine_B.wav</sound>
      <sound>Soviet_Mine_D.wav</sound>
      <sound>Soviet_Sentry_B.wav</sound>
      <sound>Soviet_Sentry_D.wav</sound>
      <sound>Soviet_Tesla_D.wav</sound>
      <sound>tesla_attack_fx.wav</sound>
      <sound>tesla_build_fx.wav</sound>
      <sound>tesla_repair_fx.wav</sound>
      <sound>timer_started.wav</sound>
      <sound>timer_stopped.wav</sound>
      <sound>wrong_fx.wav</sound>
      
    </fx>
  </audio>

  <gui>
    <atlas file="gui/new_atlas.png"/>
    
  </gui>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <allyzone up_x="20" up_y="10" down_x="59" down_y="32" />
    <sovietzone up_x="20" up_y="54" down_x="59" down_y="75" />
    <warzone up_x="20" up_y="30" down_x="59" down_y="55" />
  </map>

  <entitymanager>
    <folder>animation/</folder>
    <sprite_sheet source="CommandCenter_anim.png"/>

   <buildings>
      <Townhall>
        <health lvl1="10000" lvl2="20000" lvl3="3000"/>
        <upgrade_cost ToLvl2="5000" ToLvl3="10000" ToLv4="0"/>
        <damage lvl1="-1" lvl2="-3" lvl3="-5"/>      <!-- HEALS -->
        <size width="4" height="3"/>
        <capacity lvl1="1000" lvl2="1500" lvl3="2000"/>
        <production lvl1="100" lvl2="250" lvl3="350"/>
        <attack rate="0" targets="0" range="50"/><!-- in seconds -->
      </Townhall>
    
      <sentrygun>
        <health lvl1="500" lvl2="600" lvl3="750"/>
        <upgrade_cost ToLvl2="150" ToLvl3="300"/>
        <damage lvl1="120" lvl2="180" lvl3="240" ToLv4="0"/>
        <size width="1" height="1"/>
        <attack rate="5" targets="1" range="200"/>
      </sentrygun>

      <CommandCenter>
        <health lvl1="5000" lvl2="6000" lvl3="7000"/>
        <upgrade_cost ToLvl2="250" ToLvl3="350" ToLv4="0"/>
        <damage lvl1="1000" lvl2="1200" lvl3="1500"/>
        <damage_cast2 lvl1="1000" lvl2="1200" lvl3="1500"/>
        <damage_cast3 lvl1="1000" lvl2="1200" lvl3="1500"/>
        <size width="5" height="3"/>
        <capacity lvl1="1000" lvl2="1500" lvl3="2000"/>
        <production lvl1="1000" lvl2="1500" lvl3="2000"/>
      </CommandCenter>

      <Walls>
        <health lvl1="500" lvl2="600" lvl3="700"/>
        <upgrade_cost ToLvl2="500" ToLvl3="700" ToLv4="0"/>
        <size width="1" height="1"/>
      </Walls>

      <Tesla>
        <health lvl1="1000" lvl2="1200" lvl3="1500"/>
        <size width="2" height="2"/>
        <upgrade_cost ToLvl2="500" ToLvl3="1000"/>
        <damage lvl1="200" lvl2="300" lvl3="400" ToLv4="0"/>
        <attack rate="2" targets="5" range="200"/>
      </Tesla>

      <aoe>
        <health lvl1="400" lvl2="450" lvl3="600"/>
        <upgrade_cost ToLvl2="50" ToLvl3="150" ToLv4="0"/>
        <size width="3" height="3"/>
        <damage lvl1="60" lvl2="120" lvl3="180"/>
        <attack rate="1" targets="5" range="150"/>
      </aoe>
      
      <Barracks>
        <health lvl1="500" lvl2="600" lvl3="700" />
        <upgrade_cost ToLvl2="150" ToLvl3="300" ToLv4="0"/>
        <size width="3" height="2"/>
        <capacity lvl1="100" lvl2="150" lvl3="200"/>
        <production lvl1="1000" lvl2="1500" lvl3="2000"/>
      </Barracks>
   
      <GoldMine>
        <name string="mine"/>
        <health lvl1="500" lvl2="600" lvl3="750"/>
        <upgrade_cost ToLvl2="1000" ToLvl3="2500" ToLv4="0"/>
        <size width="2" height="4"/>
        <capacity lvl1="100" lvl2="150" lvl3="200"/>
        <production lvl1="100" lvl2="150" lvl3="250"/>
      </GoldMine>
    </buildings>

    <troops>
      <BasicSoldier>
        <health lvl1="120" lvl2="150" lvl3="160"/>
        <upgrade_cost ToLvl2="15" ToLvl3="30"/>
        <size width="1" height="1"/>
        <damage lvl1="10" lvl2="15" lvl3="20"/>
        <attack rate="1" targets="1" range="2"/>
        <speed value="1"/>
      </BasicSoldier>
      <engineer>
        <health lvl1="100" lvl2="120" lvl3="150"/>
        <upgrade_cost ToLvl2="20" ToLvl3="30"/>
        <size width="1" height="1"/>
        <damage lvl1="35" lvl2="40" lvl3="45"/>
        <attack rate="2" targets="1" range="1"/>
        <speed value="1"/>
      </engineer>
      <tankman>
        <health lvl1="250" lvl2="280" lvl3="320"/>
        <upgrade_cost ToLvl2="30" ToLvl3="50"/>
        <size width="1" height="1"/>
        <damage lvl1="40" lvl2="50" lvl3="60"/>
        <attack rate="4" targets="1" range="1"/>
        <speed value="1"/>
      </tankman>
      <infiltrator>
        <health lvl1="120" lvl2="150" lvl3="160"/>
        <upgrade_cost ToLvl2="50" ToLvl3="100"/>
        <size width="1" height="1"/>
        <damage lvl1="80" lvl2="90" lvl3="100"/>
        <attack rate="8" targets="1" range="1"/>
        <speed value="1"/>
      </infiltrator>
      <war_hound>
        <health lvl1="100" lvl2="120" lvl3="150"/>
        <upgrade_cost ToLvl2="80" ToLvl3="120"/>
        <size width="1" height="1"/>
        <damage lvl1="40" lvl2="45" lvl3="50"/>
        <attack rate="1" targets="1" range="1"/>
        <speed value="1.5"/>
      </war_hound>
    </troops>
  </entitymanager>

  <player>
   <controls_p1>
     <accept key="10"/> <!-- BUTTON_A -->
     <cancel key="0"/> <!-- BUTTON_B -->
     <change key="0"/> <!-- BUTTON X-->
     <change_all key="0"/> <!-- LB -->
     <move right="0" left="0" up="0" down="0"/> <!-- LEFT JOY -->
     <ui right="0" left="0" up="0" down="0"/> <!-- RIGHT JOY -->
   </controls_p1>
   <controls_p2>
     <accept key="10"/> <!-- BUTTON_A -->
     <cancel key="0"/> <!-- BUTTON_B -->
     <change key="0"/> <!-- BUTTON X-->
     <change_all key="0"/> <!-- LB -->
     <move right="0" left="0" up="0" down="0"/> <!-- LEFT JOY -->
     <ui right="0" left="0" up="0" down="0"/> <!-- RIGHT JOY -->
   </controls_p2>

   
   <rect_previews> 
      <townhall       x="" y="" w="" h="" rx="" ry=""/>      <!--<townhall x=""        -->
      <sentrygun      x="62" y="195" w="62" h="39" rx="186" ry="0" />  <!--<main_defense x>      -->
      <cmd_center     x="424" y="2556" w="212" h="213" rx="0" ry="2556" />    <!--<cmd_center x="       -->
      <walls          x="" y="" w="" h="" rx="" ry="" />         <!--<walls x="" y="       -->
      <defense_aoe    x="222" y="510" w="111" h="102" rx="222" ry="102" />   <!--<defense_aoe x=       -->
      <defense_target x="0" y="756" w="82" h="84" rx="0" ry="336"/> <!--<defense_target />    -->
      <gold_mine      x="1218" y="1278" w="174" h="142" rx="522" ry="1278" />     <!--<gold_mine x=""       -->
      <barracks       x="668" y="978" w="167" h="163" rx="0" ry="978" />      <!--<barracks x=""        -->
      <soldier        x="352" y="0" w="44" h="33" rx="0" ry="0"  />       <!--<soldier x="" y       -->
      <tankman        x="" y="" w="" h="" rx="" ry="" />       <!--<tankman x="" y       -->
      <infiltrator    x="" y="" w="" h="" rx="" ry="" />   <!--<infiltrator x=       -->
      <engineer       x="" y="" w="" h="" rx="" ry="" />      <!--<engineer x=""        -->
      <war_hound      x="0" y="0" w="77" h="69" rx="0" ry="0" />     <!--<war_hound x=""       -->
    </rect_previews>
  </player>

  <scene>
    <map_name name="map3.tmx"></map_name>
    <pause_menu_alied file="gui/Pause_Menu_Alied.png"/>
    <pause_menu_soviet file="gui/Pause_Menu_Soviet.png"/>
    <allied file="gui/Allied_Victorious.png"/>
    <soviet file="gui/Soviet_Victorious.png"/>
    <draw file="gui/Draw.png"/>
    <fade_time value="1"/>
  </scene>

  <main_menu>
    <menu_bg file="gui/mainmenu2.png"/>
    <settings file="gui/mainmenu_settings_credits.png"/>
    <license file="gui/license_texture.png"/>
    <credits file="gui/credits_texture.png"/>
  </main_menu>

</config>