<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="708" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <music>
      <folder>audio/music</folder>
      <track>Best_Friend_8_bits.ogg</track>
      <track>The_Music_Box_8_bits.ogg</track>
    </music>
    <fx>
      <folder>audio/fx</folder>
      <sound>Win.wav</sound>
      <sound>Dead.wav</sound>
      <sound>Game_over.wav</sound>
      <sound>Coin.wav</sound>
      <sound>Click.wav</sound>
      <sound>Locked.wav</sound>
    </fx>
  </audio>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <entitycontroller>
    <folder>textures/</folder>
    <sprite_sheet source="Entities.png"/>
    <player>
      <size width="32" height="32"/>
      <position x="64" y="500"/>
      <gravity value="250"/>
      <speed x="150" y="500"/>
      <grounded value ="false"/>
      <sliding value="false"/>
      <jumping value="true"/>
      <grid value="false"/>
      <gravity_active value="true"/>
    </player>
    <grid>
      <speed x="30" y="30"/>
    </grid>
    <flying_enemy>
      <size width="32" height="32"/>
      <speed x="80" y="80"/>
      <sightCollider width ="192" height="192"/>
      <dead value="false"/>
    </flying_enemy>
    <land_enemy>
      <size width="32" height="32"/>
      <speed x="60" y="60"/>
      <sightCollider width ="192" height="96"/>
      <gravity value="250"/>
      <dead value="false"/>
      <lives value="2"/>
    </land_enemy>
    <box>
      <speed x="50" y="50"/>
    </box>
  </entitycontroller>
  <buildings>
    <command_center x="132" y="135"  width="211" height="213"/>
    <command_center x="478" y="135"  width="211" height="213"/>
    <command_center x="132" y="435"  width="211" height="213"/>
    <command_center x="478" y="435"  width="211" height="213"/>
    <command_center x="132" y="735"  width="211" height="213"/>
    <command_center x="478" y="735"  width="211" height="213"/>
    <command_center x="132" y="1035" width="211" height="213"/>
    <command_center x="478" y="1035" width="211" height="213"/>
    <command_center x="132" y="1335" width="211" height="213"/>
    <command_center x="478" y="1335" width="211" height="213"/>
    <command_center x="132" y="1635" width="211" height="213"/>
    <command_center x="478" y="1635" width="211" height="213"/>
    <command_center x="132" y="1935" width="211" height="213"/>
    <command_center x="478" y="1935" width="211" height="213"/>
    <command_center x="132" y="2235" width="211" height="213"/>
    <command_center x="478" y="2235" width="211" height="213"/>
    <command_center x="132" y="2535" width="211" height="213"/>
    <command_center x="478" y="2535" width="211" height="213"/>
    <command_center x="132" y="2835" width="211" height="213"/>
    <command_center x="478" y="2835" width="211" height="213"/>
    <command_center x="132" y="3135" width="211" height="213"/>
    <command_center x="478" y="3135" width="211" height="213"/>
    <command_center x="132" y="3435" width="211" height="213"/>
    <command_center x="478" y="3435" width="211" height="213"/>
    <command_center x="132" y="3735" width="211" height="213"/>
    
    <gold_mine x="874"  y="1131" width="187" height="142"/>
    <gold_mine x="1082" y="1131" width="187" height="142"/>
    <gold_mine x="1290" y="1131" width="187" height="142"/>
    <gold_mine x="1498" y="1131" width="187" height="142"/>
    <gold_mine x="874"  y="1315" width="187" height="142"/>
    <gold_mine x="1082" y="1315" width="187" height="142"/>
    <gold_mine x="1290" y="1315" width="187" height="142"/>
    <gold_mine x="1498" y="1315" width="187" height="142"/>
    <gold_mine x="874"  y="1499" width="187" height="142"/>
    <gold_mine x="1082" y="1499" width="187" height="142"/>
    <gold_mine x="1290" y="1499" width="187" height="142"/>
    <gold_mine x="1498" y="1499" width="187" height="142"/>
    <gold_mine x="874"  y="1683" width="187" height="142"/>
    <gold_mine x="1082" y="1683" width="187" height="142"/>
    <gold_mine x="1290" y="1683" width="187" height="142"/>
    <gold_mine x="1498" y="1683" width="187" height="142"/>
    <gold_mine x="874"  y="1867" width="187" height="142"/>
    <gold_mine x="1082" y="1867" width="187" height="142"/>
    <gold_mine x="1290" y="1867" width="187" height="142"/>
    <gold_mine x="1498" y="1867" width="187" height="142"/>
    <gold_mine x="874"  y="2051" width="187" height="142"/>
    <gold_mine x="1082" y="2051" width="187" height="142"/>
    <gold_mine x="1290" y="2051" width="187" height="142"/>
    <gold_mine x="1498" y="2051" width="187" height="142"/>
    <gold_mine x="874"  y="2235" width="187" height="142"/>
    <gold_mine x="1082" y="2235" width="187" height="142"/>

    <aoe_tower x="853"  y="64"  width="106" height="92"/>
    <aoe_tower x="995"  y="64"  width="106" height="92"/>
    <aoe_tower x="1137" y="64"  width="106" height="92"/>
    <aoe_tower x="1279" y="64"  width="106" height="92"/>
    <aoe_tower x="1421" y="64"  width="106" height="92"/>
    <aoe_tower x="1563" y="64"  width="106" height="92"/>
    <aoe_tower x="1705" y="64"  width="106" height="92"/>
    <aoe_tower x="853"  y="174" width="106" height="92"/>
    <aoe_tower x="995"  y="174" width="106" height="92"/>
    <aoe_tower x="1137" y="174" width="106" height="92"/>
    <aoe_tower x="1279" y="174" width="106" height="92"/>
    <aoe_tower x="1421" y="174" width="106" height="92"/>
    <aoe_tower x="1563" y="174" width="106" height="92"/>
    <aoe_tower x="1705" y="174" width="106" height="92"/>
    <aoe_tower x="853"  y="284" width="106" height="92"/>
    <aoe_tower x="995"  y="284" width="106" height="92"/>
    <aoe_tower x="1137" y="284" width="106" height="92"/>
    <aoe_tower x="1279" y="284" width="106" height="92"/>
    <aoe_tower x="1421" y="284" width="106" height="92"/>
    <aoe_tower x="1563" y="284" width="106" height="92"/>
    <aoe_tower x="1705" y="284" width="106" height="92"/>
    <aoe_tower x="853"  y="394" width="106" height="92"/>
    <aoe_tower x="995"  y="394" width="106" height="92"/>
    <aoe_tower x="1137" y="394" width="106" height="92"/>
    <aoe_tower x="1279" y="394" width="106" height="92"/>


    <barracks x="1978" y="1252" width="154" height="134"/>
    <barracks x="2192" y="1252" width="154" height="134"/>
    <barracks x="2406" y="1252" width="154" height="134"/>
    <barracks x="2620" y="1252" width="154" height="134"/>
    <barracks x="1978" y="1426" width="154" height="134"/>
    <barracks x="2192" y="1426" width="154" height="134"/>
    <barracks x="2406" y="1426" width="154" height="134"/>
    <barracks x="2620" y="1426" width="154" height="134"/>
    <barracks x="1978" y="1600" width="154" height="134"/>
    <barracks x="2192" y="1600" width="154" height="134"/>
    <barracks x="2406" y="1600" width="154" height="134"/>
    <barracks x="2620" y="1600" width="154" height="134"/>
    <barracks x="1978" y="1774" width="154" height="134"/>
    <barracks x="2192" y="1774" width="154" height="134"/>
    <barracks x="2406" y="1774" width="154" height="134"/>
    <barracks x="2620" y="1774" width="154" height="134"/>
    <barracks x="1978" y="1948" width="154" height="134"/>
    <barracks x="2192" y="1948" width="154" height="134"/>
    <barracks x="2406" y="1948" width="154" height="134"/>
    <barracks x="2620" y="1948" width="154" height="134"/>
    <barracks x="1978" y="2122" width="154" height="134"/>
    <barracks x="2192" y="2122" width="154" height="134"/>
    <barracks x="2406" y="2122" width="154" height="134"/>
    <barracks x="2620" y="2122" width="154" height="134"/>
    <barracks x="1978" y="2296" width="154" height="134"/>


    <tower x="859"  y="487" width="82" height="84"/>
    <tower x="1020" y="487" width="82" height="84"/>
    <tower x="1180" y="487" width="82" height="84"/>
    <tower x="1340" y="487" width="82" height="84"/>
    <tower x="1500" y="487" width="82" height="84"/>
    <tower x="1660" y="487" width="82" height="84"/>
    <tower x="859"  y="613" width="82" height="84"/>
    <tower x="1020" y="613" width="82" height="84"/>
    <tower x="1180" y="613" width="82" height="84"/>
    <tower x="1340" y="613" width="82" height="84"/>
    <tower x="1500" y="613" width="82" height="84"/>
    <tower x="1660" y="613" width="82" height="84"/>
    <tower x="859"  y="739" width="82" height="84"/>
    <tower x="1020" y="739" width="82" height="84"/>
    <tower x="1180" y="739" width="82" height="84"/>
    <tower x="1340" y="739" width="82" height="84"/>
    <tower x="1500" y="739" width="82" height="84"/>
    <tower x="1660" y="739" width="82" height="84"/>
    <tower x="859"  y="865" width="82" height="84"/>
    <tower x="1020" y="865" width="82" height="84"/>
    <tower x="1180" y="865" width="82" height="84"/>
    <tower x="1340" y="865" width="82" height="84"/>
    <tower x="1500" y="865" width="82" height="84"/>
    <tower x="1660" y="865" width="82" height="84"/>
    <tower x="859"  y="991" width="82" height="84"/>


    <townhall x="1949" y="2638" width="188" height="166"/>
    <townhall x="2187" y="2638" width="188" height="166"/>
    <townhall x="2425" y="2638" width="188" height="166"/>
    <townhall x="2663" y="2638" width="188" height="166"/>
    <townhall x="1949" y="2816" width="188" height="166"/>
    <townhall x="2187" y="2816" width="188" height="166"/>
    <townhall x="2425" y="2816" width="188" height="166"/>
    <townhall x="2663" y="2816" width="188" height="166"/>
    <townhall x="1949" y="2994" width="188" height="166"/>
    <townhall x="2187" y="2994" width="188" height="166"/>
    <townhall x="2425" y="2994" width="188" height="166"/>
    <townhall x="2663" y="2994" width="188" height="166"/>
    <townhall x="1949" y="3172" width="188" height="166"/>
    <townhall x="2187" y="3172" width="188" height="166"/>
    <townhall x="2425" y="3172" width="188" height="166"/>
    <townhall x="2663" y="3172" width="188" height="166"/>
    <townhall x="1949" y="3350" width="188" height="166"/>
    <townhall x="2187" y="3350" width="188" height="166"/>
    <townhall x="2425" y="3350" width="188" height="166"/>
    <townhall x="2663" y="3350" width="188" height="166"/>
    <townhall x="1949" y="3528" width="188" height="166"/>
    
  </buildings>

  <scene>
    <map_name name="level1.tmx"></map_name>
    <map_name name="level2.tmx"></map_name>
    <fade_time value="1"/>
  </scene>

  <main_menu>
    <menu_bg file="gui/mainmenu.png"/>
    <music vol="40" sfx="100"/>
  </main_menu>

  </config>